
.bios {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 10%;
  /* place-content: center;
  gap: 4vh;
  min-height: 100vh;
  width: min(60ch, 100vw - 2rem);
  margin-right: auto;
  margin-left: auto;
  font-size: 1.5rem;
  line-height: 1.5; */
}


.left-half {
  height: 100%;
  display: table-cell;
  width: 50%;
  text-align: center;
  
}

.right-half {
  height: 100%;
  display: table-cell;
  width: 50%;
  
}

.img-container{

}

.bios-img{
  border-radius: 8px;
  width: 500px;
  height: 500px;
}

.bios-desc{
  
  align-items: center;
  justify-content: center;
}