
.bios {
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  display: flex;
}


.left-half {
  height: 100%;
  /* //display: table-cell; */
  width: 50%;
  display: flexbox;

}

.right-half {
  /* //display: table-cell; */
  position:relative;
  display: flexbox;
  flex-wrap:wrap;

}

.img-container{

}

.bios-img{
  border-radius: 8px;
  width: 500px;
  height: 500px;
}

.bios-desc{
}